# Built outputs
/build/
app/build/
shared/build/
iosApp/build/
.kotlin/
.apple/

# Gradle
.gradle/
local.properties
gradle/wrapper/gradle-wrapper.jar

# IDE
/.idea/
*.iml

# Keys / secrets
*.jks
*.keystore
google-services.json

# macOS
.DS_Store
gradlew.bat

# Xcode
xcuserdata/
.xcuserstate
/xcshareddata/xcscmblueprint
.xcuserdatad
